.header-content {
  display: flex;
  align-items: center;
  height: 75px;
  align-content: space-around;
  img {
    flex: 1;
    height: 60%;
  }
  .title {
    flex: 8;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
  }
  a {
    flex: 1;
  }
}

.collapsible-body {
  text-align: center;
}
