.player-container {
  margin: 10px;
  display:flex;
}

.album {
  flex: 3;
}

.player-info {
  flex: 9;
}


.info {
  display: flex;
  .song-info {
    flex: 11;
    text-align: center;
  }
}



.top-row {
  display: flex;
  align-items: center;
}
.time-info {
    flex: 3;
}

.controls {
  flex: 9;
  display: flex;
  justify-content: flex-start;
  margin: 15px auto;
  a {
    margin: auto 5px;
  }
}


.pointer {
  cursor: pointer;
}

